
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
}


.container{
  margin: 0 auto;
  max-width: 95%;
  background-color: plum;
}
.centralContainer{
  display: block;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginTop1rem{
  margin-top: 1rem;
}
.marginTopMrem{
  margin-top: 0.5rem;
}

.marginBottom1rem{
  margin-bottom: 1rem;
}
.marginBottomMrem{
  margin-bottom: 0.5rem;
}

.displayBlock{
  display: block;
}
